@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Práctica 2- MVC - Veterinary</h1>
    <p>DANIELA HINESTROZA MORALES</p>
    <p>JUAN MANUEL BETANCUR MESA</p>
    <img src="~/Images/trabajar-de-veterinario-en-australia.png"/>    
</div>
