@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Práctica 2- MVC - Veterinary</h1>
    <li>
    <p>DANIELA HINESTROZA MORALES</p> </li><p>JUAN MANUEL BETANCUR MESA</p>
</div>
