@model Veterinary.web.Models.Veterinarian

<div class="form-group">
    <label asp-for="VeterinarianName" class="control-label"></label>
    <input asp-for="VeterinarianName" class="form-control" />
    <span asp-validation-for="VeterinarianName" class="text-danger"></span>
</div>